#map {
  height: 600px; 
  width:auto;
}

.legend {
    line-height: 18px;
    color: #555;
}

.info.legend {
    padding: 6px 8px;
    margin: 10px 10px 3px 0px;
    font: 14px/16px Roboto, sans-serif;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-weight: bold; !important;
    display: block; !important; /* Make sure the Legend is displayed on Portal*/
}

.info.legend img {
  margin: 5px 5px 5px 5px;
}
