#map {
    height: 600px;
    width: 70% !important;
}

@media (max-width: 768px){
    #map {
        width: 100% !important;
    }
}

/*Override the underline on map zoom control*/
#dform_container a.leaflet-control-zoom-in, #dform_container a:leaflet-control-zoom-in, a:leaflet-control-zoom-in, #dform_container a.leaflet-control-zoom-out, #dform_container a:leaflet-control-zoom-out, a:leaflet-control-zoom-out, #dform_container a.leaflet-popup-close-button {
    text-decoration:none !important;
}

.legend {
    line-height: 18px;
    color: #555;
}

.info.legend {
    padding: 6px 8px;
    margin: 10px 10px 3px 0px;
    font: 14px/16px Roboto, sans-serif;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-weight: bold; !important;
    display: block; !important; /* Make sure the Legend is displayed on Portal*/
}

.info.legend img {
  margin: 5px 5px 5px 5px;
}
